
header{
  background-color: #e8f2a1;
}

nav{
  background-color:#f7d1d5;
}

.seccion1{
  background-color:#33FF99;
}
.titulo2{
  background-color: #9900FF;
}
.titulo3{
  background-color: #d98880 ;
}
.titulo4{
  background-color: #c39bd3 ;
}

aside{
  background-color:#a9cce3;
}

footer{
  background-color: #fadbd8 ;
}

.pie{
  background-color:#d98880 ;
}